*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(85, 85, 152, 0.2) 0px 7px 29px 0px;
}

.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group{
    margin-bottom:30px;
}